/***************************
 * Author: Dennis Kim      *
 * Main css for index.html *
 ***************************/

 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* determines what the sizing property should be */
 }

 html,
 body{
   font-size: 20px;
   text-rendering: optimizeLegibility;
   background-color: #ebf2f2;
 }

 p{
   font-family: 'Economica', sans-serif;
   font-size: 110%;
   /*text-transform: uppercase;*/
   letter-spacing: 0.2px;
 }

/* this class will encapsulate all my section */
 .row{
   width: 1140px;
   margin: 0 auto;
 }

 .left-col{
   width: 40%;
   padding-right:2%;
 }

 .right-col{
   width: 43%;
 }

 .left-col-icon{
   width: 35%;
 }

 .right-col-icon{
   width: 60%;
 }

 .left-col-text{
   width: 30%;
 }

 .right-col-text{
   width: 65%;
 }
 /***************************
  *  Reuseable Element      *
  ***************************/
  h1,
  h2{
    font-family: 'Catamaran', sans-serif;
    color:#fff;
  }

  h1{
    font-weight: 200;
    letter-spacing: 5px;
    font-size: 300%;
    text-transform: uppercase;
    text-align: center;
  }

  h2{
    font-weight: 100;
    font-size: 90%;
    color:#fff;
    text-align:center;
    letter-spacing: 1px;
  }

 /***************************
  *      Header / hero      *
  ***************************/
header{
  background-color:#2c3e50;
}

.hero-text h1{
  font-family: 'Acme', sans-serif;
  padding-top: 30px;
  margin-bottom: 15px;
}

.hero-text h2{
  margin-bottom: 50px;
}

.hero-img{
  position:relative;
}
.hero-img img{
  display: block;
  margin:auto;
  margin-bottom:-5px;
}


.type-it{
  position: absolute;
  left: 23%;
  top: 20%;
  font-family: 'Economica', sans-serif;
  letter-spacing: 1px;
  font-weight:bold;
  font-size: 130%;
}

.line1,
.line2{
  color:#008de7;
}

.line3{
  color:#cf7812;
}

.line4{
  color:#19a38f;
}

.title{
  color:#5b5b5b;
}

.arrow-trans img{
  border-radius: 50%;
  height: 7%;
  display: block;
  position:absolute;
  left: 47%;
  margin: auto;
  margin-top: -18px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
}

.arrow-trans{
  margin-bottom:30px;
}

/***************************
 *      About Section     *
 ***************************/
 .about{
   margin-top:20px;
   margin-bottom:60px;
 }
.about h2{
  font-family: 'Economica', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 260%;
  color: #000;
  margin-top: 55px;
}

.about h2::after{
  display: block;
  height: 3px;
  background-color:#2c3e50;
  content: " ";
  width: 600px;
  margin: 0 auto;
  margin-top: 15px;
}

/**** BIO *****/
.bio-section{
  margin-top: 30px;
  margin-bottom:45px;
}

.bio {
  text-align: right;
}

.bio img{
  border-radius: 50%;
  height: 160px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.name{
  font-size: 120%;
}
.name span{
  color:#2980b9;
}
.intro-text .name{
  padding-bottom: 5px;
  letter-spacing: 1px;
}
.intro-text{
  padding-top: 10px;
  max-width: 35%;
  text-transform: uppercase;
  display:block;
  text-align:center;
}

.intro-info{
  font-size:100%;
  text-align:center;
}

/*** Education/ Toolkit/ Experience ***/
.logo{
  text-align:right;
}


.info-item{
  margin-bottom:40px;
}

.logo img{
  height: 140px;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
}


.info-section{
  padding-left: 2%;
}

.info-title{
  font-family: 'Economica', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 150%;
  font-weight: bold;
  height:auto;
  margin-bottom: 10px;
}

.info-title span{
  border-left: 3px solid #2980b9;
}

.info-text,
.info-text1{
  font-family: 'Economica', sans-serif;
  font-weight: 400;
  font-size: 110%;
  color: #6b6868;
  letter-spacing: 1px;
}

.info-text1{
  color:#343333;
  letter-spacing: 0px;
}

.info-text1 span{
  font-size: 60%;
}

/*********************
 *      Footer       *
 *********************/

 footer{
   padding-top: 35px;
   background-color: #2c3e50;
   font-size: 95%;
   text-align: center;
 }

 .social-link li{
   display: inline-block;
   padding-right: 20px;
   font-size:155%;
   color:#8b9dad;
 }

 .social-link i{
   color:#8b9dad;
 }

 .social-link i:hover{
   color:#fff;
   transition: color 0.3s;
 }

 .social-link li:last-child{
   margin:0;
 }

.footer-name{
  text-transform: capitalize;
  color:#fff;
  padding-top:23px;
  padding-bottom: 35px;
  padding-right: 15px;
}
