/***************************
 * Author: Dennis Kim      *
 * Main css for index.html *
 ***************************/

 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* determines what the sizing property should be */
 }

 html,
 body{
   font-size: 20px;
   text-rendering: optimizeLegibility;
   background-color: #ebf2f2;
 }

section{
  position: relative;
  width:100%;
}
section::after{
  /* add the triangle stuff */
}
section::before{
  position:absolute;
  content: '';
}

 p{
   font-family: 'Economica', sans-serif;
   font-size: 110%;
   /*text-transform: uppercase;*/
   letter-spacing: 0.2px;
 }

/* this class will encapsulate all my section */
 .row{
   width: 1140px;
   margin: 0 auto;
 }

 .left-col{
   width: 40%;
   padding-right:2%;
 }

 .right-col{
   width: 43%;
 }

 .left-col-icon{
   width: 35%;
 }

 .right-col-icon{
   width: 60%;
 }

 .left-col-text{
   width: 30%;
 }

 .right-col-text{
   width: 65%;
 }
 /***************************
  *  Reuseable Element      *
  ***************************/
  h1,
  h2{
    font-family: 'Catamaran', sans-serif;
    color:#fff;
  }

  h1{
    font-weight: 200;
    letter-spacing: 5px;
    font-size: 300%;
    text-transform: uppercase;
    text-align: center;
  }

  h2{
    font-weight: 100;
    font-size: 90%;
    color:#fff;
    text-align:center;
    letter-spacing: 1px;
  }

 /***************************
  *      Header / hero      *
  ***************************/
#hero-container{
  position: relative;
  background-color:#2c3e50;
  text-align:center;
  z-index:10;
  border-bottom:solid 3px #DDD;
}

.container h1{
  font-family: 'Acme', sans-serif;
  padding-top: 30px;
  margin-bottom: 15px;
}

.container h2{
  margin-bottom: 50px;
}

.container{
  margin-left:auto;
  margin-right: auto;
  width: 996px;
}

.grid{
  display:inline;
  float:left;
  width:970px;
}

.clearfix::before{
  content:'';
  display:table;
}

.clearfix::after{
  clear:both;
  content:' ';
  display:table;
}

.hero-img{
  position:relative;
  width:970px;
}
.hero-img img{
  display: block;
  height:auto;
  max-width: 100%;
  margin:auto;
  /*margin-bottom:-5px;*/
}
.welcoming-animation{
  position:absolute;
  top:19%;
  left:14%;
  text-align: left;
  font-size:20px;

}

/* Typing-animation functionality */
/*.line1,
.line2{
  color:#008de7;
}

.line3{
  color:#cf7812;
}

.line4{
  color:#19a38f;
  display:inline-block;
}
.line4 p{
  display:inline-block;
}*/



keyframes typing {
    from { width: 100% }
    to { width:0 }
}

@keyframes blink-caret {
    from{ border-left: #666 solid .1em }
    to{ border-left: transparent solid .1em }
}
@keyframes blink-caret-perma {
    from, to{ border-left: #666 solid .1em }
    50%{ border-left: transparent solid .1em }
}

@-webkit-keyframes typing {
    from { width: 100% }
    to { width:0 }
}

@-webkit-keyframes blink-caret {
    from{ border-left: #666 solid .1em }
    to{ border-left: transparent solid .1em }
}
@-webkit-keyframes blink-caret-perma {
    from, to{ border-left: #666 solid .1em }
    50%{ border-left: transparent solid .1em }
}

@-moz-keyframes typing {
    from { width: 100% }
    to { width:0 }
}

@-moz-keyframes blink-caret {
    from{ border-left: #666 solid .1em }
    to{ border-left: transparent solid .1em }
}
@-moz-keyframes blink-caret-perma {
    from, to{ border-left: #666 solid .1em }
    50%{ border-left: transparent solid .1em }
}

.welcoming-animation{
  text-align:left;
}
.line1 {
	top:20%;
	color:#3a7dda;
  letter-spacing: 0.5px;
}
.line2 {
	top:27%;
	color:#3a7dda;
  letter-spacing: 0.5px;
}
.line3 {
	top:34%;
	color:#40dac5;
  letter-spacing: 0.5px;
}
.line4 {
	top:41%;
	color: #ffbc3e;
  letter-spacing: 0.5px;
}
.line4 p{
	color:#666;
	display:inline-block;
}
.line1 span {
	animation: typing 2s steps(15, end), blink-caret 1s step-end;
  animation-delay:2ms;
	animation-fill-mode: forwards;
    -webkit-animation: typing 2s steps(15, end), blink-caret 1s step-end;
	-webkit-animation-fill-mode: forwards;
    -moz-animation: typing 2s steps(15, end), blink-caret 1s step-end;
	-moz-animation-fill-mode: forwards;
}
.line2 span {
    width:100%;
    border-left: .1em #FEFEFE solid;

	animation: typing 1s steps(6, end), blink-caret 1s step-end;
	animation-delay:2s;
	animation-fill-mode: forwards;
    -webkit-animation: typing 1s steps(6, end), blink-caret 1s step-end;
	-webkit-animation-delay:2s;
	-webkit-animation-fill-mode: forwards;
    -moz-animation: typing 1s steps(6, end), blink-caret 1s step-end;
	-moz-animation-delay:2s;
	-moz-animation-fill-mode: forwards;
}
.line3 span {
    width:100%;
    border-left: .1em #FEFEFE solid;

	animation: typing 1s steps(7, end), blink-caret 1s step-end;
	animation-delay:3s;
	animation-fill-mode: forwards;
  -webkit-animation: typing 1s steps(7, end), blink-caret 1s step-end;
	-webkit-animation-delay:3s;
	-webkit-animation-fill-mode: forwards;
  -moz-animation: typing 1s steps(7, end), blink-caret 1s step-end;
	-moz-animation-delay:3s;
	-moz-animation-fill-mode: forwards;
}
.line4 span {
    width:100%;
    border-left: .1em #FEFEFE solid;

	animation: typing 4.5s steps(30, end), blink-caret-perma 1s step-end infinite;
	animation-delay:4s;
	animation-fill-mode: forwards;
  -webkit-animation: typing 4.5s steps(30, end), blink-caret-perma 1s step-end infinite;
	-webkit-animation-delay:4s;
	-webkit-animation-fill-mode: forwards;
  -moz-animation: typing 4.5s steps(30, end), blink-caret-perma 1s step-end infinite;
	-moz-animation-delay:4s;
	-moz-animation-fill-mode: forwards;
}

.title{
  color:#5b5b5b;
}

.arrow-trans{
  /*position:absolute;*/
  /*margin-bottom:30px;*/
}

.arrow-trans img{

  /*border-radius: 50%; */
  height: 7%;
  /*display: block;
  position:absolute;
  left: 47%;
  margin: auto;
  margin-top: -18px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);*/*/
}



/***************************
 *      About Section     *
 ***************************/
 .about{
   margin-top:20px;
   margin-bottom:60px;
 }

.about h2{
  font-family: 'Economica', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 260%;
  color: #000;
  margin-top: 55px;
}

.about h2::after{
  display: block;
  height: 3px;
  background-color:#2c3e50;
  content: " ";
  width: 600px;
  margin: 0 auto;
  margin-top: 15px;
}

/**** BIO *****/
.bio-section{
  margin-top: 30px;
  margin-bottom:45px;
}

.bio {
  text-align: right;
}

.bio img{
  border-radius: 50%;
  height: 160px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.name{
  font-size: 120%;
}
.name span{
  color:#2980b9;
}
.intro-text .name{
  padding-bottom: 5px;
  letter-spacing: 1px;
}
.intro-text{
  padding-top: 10px;
  max-width: 35%;
  text-transform: uppercase;
  display:block;
  text-align:left;
}

.intro-info{
  font-size:100%;
  text-align:left;
}

/*** Education/ Toolkit/ Experience ***/
.logo{
  text-align:right;
}


.info-item{
  margin-bottom:40px;
}

.logo img{
  height: 140px;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
}


.info-section{
  padding-left: 2%;
}

.info-title{
  font-size: 150%;
}

.info-title,
.project-title{
  font-family: 'Economica', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  height:auto;
  margin-bottom: 10px;
}

.info-title span,
.project-title span{
  border-left: 3px solid #2980b9;
}

.info-text,
.info-text1{
  font-family: 'Economica', sans-serif;
  font-weight: 400;
  font-size: 110%;
  color: #6b6868;
  letter-spacing: 1px;
}

.info-text1{
  color:#343333;
  letter-spacing: 0px;
}

.info-text1 span{
  font-size: 60%;
}

/*********************
 *      Footer       *
 *********************/

 footer{
   padding-top: 35px;
   background-color: #2c3e50;
   font-size: 95%;
   text-align: center;
 }

 .social-link li{
   display: inline-block;
   padding-right: 20px;
   font-size:155%;
   color:#8b9dad;
 }

 .social-link i{
   color:#8b9dad;
 }

 .social-link i:hover{
   color:#fff;
   transition: color 0.3s;
 }

 .social-link li:last-child{
   margin:0;
 }

.footer-name{
  text-transform: capitalize;
  color:#fff;
  padding-top:23px;
  padding-bottom: 35px;
  padding-right: 15px;
}

/*****************
*    Projects    *
******************/
#projects{
  background-color:  #e2e9eb;
}

#projects h2{
  font-family: 'Economica', sans-serif;
  font-weight: bold;
  text-align: center;
  /*font-size: 230%;*/
  font-size: 260%;
  color: #000;
  margin-top: 55px;
  margin-bottom:20px;
}

#projects h2::after{
  display: block;
  height: 3px;
  background-color:#2c3e50;
  content: " ";
  /*width: 100%;*/
  width: 600px;
  margin: 0 auto;
  margin-top: 15px;
}

.project-showcase{
  width:100%;
  /*text-align:center;*/
}


.project-container{
  width: 90%;
  margin:5px 0;
  overflow: hidden;
  padding: 20px 0;
}

.project-title{
  font-size: 130%;
  text-align: left;
  margin-bottom:1px;
  /*padding-left: 28px;*/
}
.project-img img{
  max-width: 280px;
  max-height: 150px;
  min-width: 196px;
  min-height: 110px;
  width:90%;
  float:right;
}

.project-img{
  display:inline-block;
  width: 50%;
  float:left;
  margin-left:5%;
  margin: 0 auto;
}

.project-info{
  margin:0 auto;
  padding-left:2%;
  float:right;
  width:50%;
  display:inline-block;
}


.github-redirect{
  display:none;
  width:auto;
  padding: 0 3px;
  height: 30px;
  border-radius: 5px;
  background-color: #d2d2d2;
}

.github-redirect .ion-social-github{
  padding-right: 4px;
}

.tools-used{
  font-size:100%;
  text-align:left;
  padding-bottom: 8px;

}


.github-redirect a{
  text-decoration: none;
  color:#2980b9;
}

.project-description{
  text-align:left;
  font-size:87%;
  padding: 5px 0;
  margin-bottom: 7px;
}

.project-link button{
  text-align:left;
  display: block;
}
