@media only screen and (max-width: 1140px){
  .row,
  .hero-img{
    width: 100%;
  }

  .intro-text,
  .intro-info{
    text-align: left;
  }

  .about h2:after
  {
    width:75%;
  }
  #projects h2::after{
    width:60%;
  }

}

@media only screen and (max-width: 1023px){
  .row,
  .hero-img{
    width:100%;
  }

  /*
  change width to modify container
  */
  .container{
    width:75%;
  }

  .container h1{
    font-size:200%;
  }

  .container h2{
    font-size: 60%;
  }

  /*.hero-img img{
    width:100%;
  }*/
  /*.arrow-trans img{
    height: 6.5%;
    margin:auto;
    margin-top:-15px;
    left:48%;
    display:inline-block;
  }*/

  .about h2,
  #projects h2{
    font-size: 220%;
  }
  .about h2:after{
    width:75%;
  }

#projects h2::after{
  width: 90%;
}
  .intro-text{
    max-width:40%;
  }

  .intro-text,
  .intro-info{
    text-align: left;
  }

  .info-title{
    font-size: 140%;
  }

  .info-text,
  .info-text1{
    font-size: 100%;
  }

  /*.project-img img{
    max-width: 280px;
    max-height: 150px;
    width:80%;
    float:right;
  }

  .project-img{
    display:inline-block;
    width: 50%;
    float:left;
    padding-left:5%;
    margin: 0 auto;
  }

  .project-info{
    margin:0 auto;
    padding-left:2%;
    float:right;
    width:50%;
    display:inline-block;
  }*/
}

/* change the project-showcase view to a center view
*/
@media only screen and (max-width: 930px){

  .project-showcase{
    text-align: center;
  }
  #projects h2::after{
    width: 65%;
  }
  .project-container{
    text-align: center;
    width:90%;
    /*margin: 0 auto;*/
    margin-left: 24%;
  }

  .project-img{
    float:none;
    display: block;
    margin-left: 0;
  }
  .project-info{
    float:none;
    display:block;
    width:80%;
    padding-left: 0;
    margin-left: 0;
  }
  .project-img img{
    float:none;
    max-width: 328px;
    max-height: 185px;
    width:100%;
  }

  .project-description{
    width:80%;
  }

  .github-redirect{
    display: block;
  }
}


/* 930 - 1125 */
@media only screen and (max-width: 845px){
  .row,
  .hero-img{
    width:100%;
  }

  .container{
    width: 70%;
  }

  .left-col,
  .left-col-icon,
  .left-col-text,
  .right-col,
  .right-col-icon,
  .right-col-text{
    width: 100%;
  }

  .container h1{
    font-size: 200%;
  }
  .container h2{
    font-size: 59%;
  }

  .hero-img img{
    width:100%;
  }

  .arrow-trans img{
    height:35px;
    margin:auto;
    margin-top: -12px;
  }

  .about h2,
  #projects h2{
    font-size:200%;
    margin-top: 45px;
  }

  .about h2:after{
    width:75%;
  }
  #projects h2::after{
    width: 85%;
  }
  .bio-section{
    margin-top: 18px;
    margin-bottom:20px;
  }
  .bio img{
    display:block;
    margin:auto;
    height: 170px;
  }
  .intro-text{
    display:block;
    text-align: center;
    max-width:67%;
    margin-left: 15%;
  }
  .intro-info{
    text-align:center;
  }

  .logo img{
    margin:auto;
    display:block;
    height:170px;
  }
  .info-title{
    font-size:170%;
    margin: 8px 0;
    text-align: center;
    padding-right: 25px;
  }

  .info-container{
    display:block;
  }

  .info-text,
  .info-text1{
    font-size:90%;
  }

  .info-text{
    width:38%;
    text-align:right;
    padding-right: 2%;
  }

  .info-text1{
    width:60%;
  }

  .resize,
  .resize1{
    width: 48%;
  }
}

@media only screen and (max-width: 630px){
  .project-container{
    margin-left: 15%;
  }
  .project-img img{
    min-width: 176px;
    min-height: 90px;
  }
  .project-info{
    width: 95%;
  }
  #projects h2::after{
    width:95%;
  }
}

/*only screen and (max-width: 995px) and (min-width: 768px)*/
@media only screen and (max-width: 460px){
  .row,
  .hero-img{
    width:100%;
  }
  .project-container{
    margin-left: 10%;
  }

  .left-col,
  .left-col-icon,
  .left-col-text,
  .right-col,
  .right-col-icon,
  .right-col-text
  {
    width: 100%;
  }


  .container h1{
    font-size: 160%;
  }


  .hero-img img{
    width:100%;
  }
  .arrow-trans img{
    height:25px;
    margin-top:-5px;
    left:46%;
  }
  .about h2,
  #projects h2{
    font-size: 175%;
    margin-top: 40px;
  }
  .about h2::after{
    width:85%;
  }
  .bio-section{
    clear:both;
    margin:auto;
    width: 100%;
    margin-bottom:10px;
  }

  .bio img{
    height:150px;
    display:block;
    margin:auto;
    margin-top: 15px;
    padding-right:0;
  }

  .intro-info{
    font-size: 70%;
    text-align: center;
  }
  .logo img{
    height: 130px;
    display:block;
    margin:auto;
    margin-bottom: 10px;
  }

  .info-section{
    padding-left:13px;
  }
  .intro-text{
    padding-top:0px;
    max-width: 70%;
    text-align: center;
    margin: 15px 0;
    margin-left:15%;
    clear:both;
  }

  .info-title{
    font-size:150%;
    text-align: center;
  }

  .info-container{
    display:block;
  }

  .info-text,
  .info-text1{
    font-size:90%;
  }

  .info-text{
    width:38%;;
    text-align:right;
    padding-right: 2%;
  }

  .info-text1{
    width:60%;
  }

  .resize,
  .resize1{
    width: 48%;
  }

  .tool-container{
    padding-left:0;
  }

  .project-title{
    font-size:110%;
  }

  .tools-used{
    font-size:80%;
  }
  .project-description{
    font-size: 77%;
  }
  .github-redirect a{
    font-size: 70%;
    padding-bottom: 5px;
  }
  .github-redirect {
    height:25px;
  }

}

@media only screen and (max-width: 458px){
  .tool-container .info-title{
    padding-right: 0px;
  }

  /*.container h1{
    font-size: 170%;
  }
  .container h2{
    font-size: 39%;
  }*/

  .info-text,
  .info-text1{
    font-size:80%;
  }
}

@media only screen and (max-width: 422px){
  .container h1{
    font-size: 140%;
  }
  .container h2{
    font-size: 57%;
  }
  /*.container h1{
    font-size: 150%;
  }
  .container h2{
    font-size: 23%;
  }*/
}
